@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
	color: white;
}
body {
	background-color: black;
	font-family: Montserrat, sans-serif;
	user-select: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cal Sans", sans-serif;
}
#startup, #login, #desktop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: 0.2s all;
	background-color: black;
}
#startup > div, #login > div {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}
#startup div {
	font-family: "Jetbrains Mono", sans-serif;
}
#startup div img {
	width: 100px;
	filter: grayscale(100%) contrast(150%);
}
#startup_loader {
	width: 250px;
	height: 20px;
	border: 1px solid white;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
}
#startup_loader span {
	background-color: blue;
	position: absolute;
	top: 0;
	left: 0;
	width: 0%;
	height: 100%;
	transition: 0.1s all;
}

button {
	background-color: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	font-family: "Montserrat", sans-serif;
	padding: 8px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	cursor: pointer;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#login {
	background-image: url(/assets/img/bg.webp);
	background-size: cover;
	background-position: center;
}
#login button {
	width: 100%;
	opacity: 0;
	transition: 0.25s all;
}
#login span {
	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
	opacity: 1;
	transition: 0.25s all;
}

#desktop {
	background-image: url(/assets/img/bg5.avif);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#toolbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: rgba(50, 50, 50, 0.15);
	box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#toolbar * {
	margin: 0;
}

#toolbar div {
	position: absolute;
	right: 30px;
	top: 5px;
	text-align: right;
	font-size: 13.5px;
}

#contextmenu {
	position: fixed;
	top: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(50px);
	border-radius: 5px;
	border: 1px solid #4a4a4a;
	font-family: "JetBrains Mono";
	overflow: hidden;
	opacity: 0;
	display: none;
	transition: 0.2s opacity;
}
#contextmenu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#contextmenu li {
	padding: 10px;
	border-bottom: 1px solid #4a4a4a;
}
#contextmenu li:nth-last-of-type(1) {
	border-bottom: 0px;
}
#contextmenu li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}


#dock {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: 20px;
	padding: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	backdrop-filter: blur(3px);
	text-align: center;
}
.app {
	padding: 15px;
	padding-left: 17px;
	padding-right: 17px;
	font-size: 18px;
	border-radius: 10px;
	margin-left: 2px;
	margin-right: 2px;
	width: 55px;
	text-align: center;
}
.app:hover {
	scale: 1.25;
	transition: 0.25s all;
}

.app.black {
	background-color: rgba(0, 0, 0, 0.6);
}
.app.grey {
	background-color: rgba(50, 50, 50, 0.6);
}
.app.orange {
	background-color: rgba(255, 165, 0, 0.6);
}
.app.blue {
	background-color: rgba(0, 165, 200, 0.6);
}
.app.green {
	background-color: rgba(0, 200, 165, 0.6);
}
.app.red {
	background-color: rgba(200, 82, 82, 0.6);
}
